<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory>

        <property name="connection.driver_class">org.postgresql.Driver</property> <!-- DB Driver -->
        <property name="connection.url">jdbc:postgresql://localhost:5432/postgres?currentSchema=hiber</property> <!-- BD Mane -->
        <property name="connection.username">postgres</property> <!-- DB User -->
        <property name="connection.password">2020327GhbdtN</property> <!-- DB Password -->
        <property name="connection.pool_size">8</property>
        <property name="dialect">org.hibernate.dialect.PostgreSQL94Dialect</property> <!-- DB Dialect -->
        <!--<property name="hbm2ddl.auto">update</property> &lt;!&ndash; create / create-drop / update &ndash;&gt;-->
        <property name="show_sql">true</property> <!-- Show SQL in console -->
        <property name="current_session_context_class">thread</property>
        <!--<property name="format_sql">true</property> &lt;!&ndash; Show SQL formatted &ndash;&gt;-->

        <mapping class="Lesson_3.crud.Product"/>

    </session-factory>
</hibernate-configuration>