<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Lesson4</title>
</head>

<body>
    <h1>Список товаров:</h1>
    <table>
        <thead>
        <tr >
        <form>
            <label>Отфильтровать по: </label>
            <select id="sort">
                <option name="by_min_price">минимальной цене</option>
                <option name="by_max_price">максимальной цене</option>
                <option name="by_min_max_price">минимальной и максимальной цене</option>
            </select>
            <input type="submit">
        </form>
        <tr>
            <td>Id</td>
            <td>Имя</td>
            <td>Цена</td>
            <td>Операция</td>
        </tr>
        </thead>
        <tbody>
        <!--/*@thymesVar id="students" type="java.util.List<com.geekbrains.spring.mvc.model.Student>"*/-->
        <tr th:each="p : ${products}">
                <td th:text="${p.id}"></td>
                <td th:text="${p.title}"></td>
                <td th:text="${p.cost}"></td>
                <td><a th:href="@{'/products/edit/' + ${p.id}}" >Редактировать</a></td>
        </tr>
        </tbody>
    </table>
    <a th:href="@{/}">на Главную страницу</a>
</body>
</html>