<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Lesson2</title>
</head>

<body>
    <h1>Список товаров:</h1>
    <table>
        <thead>
        <tr>
            <td>Id</td>
            <td>Имя</td>
            <td>Цена</td>
        </tr>
        </thead>
        <tbody>
        <!--/*@thymesVar id="students" type="java.util.List<com.geekbrains.spring.mvc.model.Student>"*/-->
        <tr th:each="p : ${products}">
                <td th:text="${p.id}"></td>
                <td th:text="${p.title}"></td>
                <td th:text="${p.cost}"></td>
                <td><a th:href="@{'/products/edit/' + ${p.id}}" >Редактировать</a></td>
        </tr>
        </tbody>
    </table>
    <a th:href="@{/}">на Главную страницу</a>
</body>
</html>